@use "var";

@media screen and (min-width: 1440px) {
  .hidden-text {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1s ease-out, opacity 1s ease-out;
  }

  .visible-text {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 1025px) {
  header {
    height: 1000px;
  }
  .header_container,
  .welcome_section_container,
  .why_choose_us_container,
  .best_sell_prod_container,
  .reviews_container,
  .footer_container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .best_sell_prod_articles {
    article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .reviews_articles {
    .owl-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .materials_container {
    padding-left: 40px;
  }

  .experiences_container {
    gap: 70px;
    padding-right: 40px;
  }

  .footer_info_part {
    div:first-of-type {
      width: 400px;
    }
  }
}

@media screen and (max-width: 835px) {
  header {
    height: 800px;
  }
  h1 {
    font-size: 60px;
  }
  h3 {
    font-size: 24px;
  }
  .materials_container {
    gap: 20px;
  }
  img[src="images/experiences_main_photo.png"] {
    width: 497px;
    height: 443px;
  }
  img[src="images/group_48095439.png"] {
    width: 278px;
    height: 380px;
  }
  img[src="images/group_48095417.png"] {
    width: 167px;
    height: 188px;
  }
  img[src="images/group_48095419.png"] {
    width: 167px;
    height: 236px;
  }
}

@media screen and (max-width: 769px) {
  header {
    height: 800px;
  }
  .why_choose_us_container {
    gap: 90px;
  }
  .experiences_container {
    gap: 10px;
  }
  .header_container ul {
    gap: 55px;
  }
}

@media screen and (max-width: 431px) {
  header {
    height: 500px;
  }
  .header_container {
    display: flex;
    justify-content: space-between;
  }
  .nav-but-wrap {
    padding-left: 0;
    padding-top: 19px;
  }
  .header_brand_name {
    display: none;
  }
  h1 {
    font-size: 30px;
  }
  .welcome_section h3 {
    font-size: 16px;
  }
  .welcome_search_form {
    width: 240px;
    height: 40px;
  }
  .welcome_search_form input {
    width: 160px;

    &::placeholder {
      font-size: 15px;
    }
  }
  .welcome_search_form button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .why_choose_us_container {
    flex-direction: column;
    text-align: center;
    gap: 40px;

    h2 {
      font-size: 25px;
    }
  }
  .why_choose_us_container_articles {
    flex-direction: column;

    article {
      h3 {
        font-size: 20px;
      }

      a {
        display: inline-flex;
      }
    }
  }
  .best_sell_prod_container h2 {
    font-size: 25px;
  }
  .product_selector {
    width: 300px;
  }
  .experiences_container {
    h2 {
      font-size: 25px;
    }

    p {
      &:first-of-type {
        font-size: 16px;
      }

      &:nth-of-type(2) {
        font-size: 16px;
      }
    }

    padding: 120px 0;
    flex-direction: column;


    .experiences_main_photo {
      order: 2;
      padding-right: 40px;

      img[src="images/experiences_main_photo.png"] {
        width: 100%;
        height: auto;
      }
    }

    .experiences_text {
      order: 1;
      text-align: center;
      padding: 0 16px;

      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .materials_container {
    flex-direction: column;
    padding: 0 16px;

    h2 {
      font-size: 25px;
    }

    .materials_info_part {
      text-align: center;

      p {
        &:first-of-type {
          font-size: 16px;

          &:last-of-type {
            font-size: 16px;
          }
        }
      }

      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }

    .materials_photos {

      img[src="images/group_48095439.png"] {
        width: 260px;
        height: 374px;
      }
    }
  }
  .footer_info_part {
    h3 {
      font-size: 20px;
    }

    text-align: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  .footer_copyright {
    p {
      align-self: center;
    }
  }
  .nav__list {
    flex-direction: column;
  }
  .header_drop_down:after {
    display: none;
  }
  .nav__list-item a {
    font-family: var.$main-font_bold;
    font-weight: 400;
    font-size: 24px;
    color: #1e1e1e;
  }
  .nav:after {
    background: #fff;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  body.nav-active .menu-icon__line {
    background-color: #1e1e1e;
  }
  .nav__list-item a:hover {
    color: #7a7a7a;
  }
  .menu-icon__line {
    background-color: #fff;
  }
  .menu-icon--active {
    position: fixed;
  }
}

@media screen and (max-width: 415px) {
  .materials_container {
    .materials_photos {
      img[src="images/group_48095439.png"] {
        width: 247px;
        height: 355px;
      }
    }
  }
}

@media screen and (max-width: 413px) {
  .materials_container {
    .materials_photos {
      img[src="images/group_48095439.png"] {
        width: 245px;
        height: 355px;
      }
    }
  }
}

@media screen and (max-width: 394px) {
  .materials_container {
    .materials_photos {
      img[src="images/group_48095439.png"] {
        width: 226px;
        height: 348px;
      }
    }
  }
}

@media screen and (max-width: 391px) {
  .materials_container {
    .materials_photos {
      img[src="images/group_48095439.png"] {
        width: 223px;
        height: 348px;
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .materials_container {
    .materials_photos {
      img[src="images/group_48095439.png"] {
        width: 205px;
        height: 325px;
      }
    }
  }
  .reviews_container {
    padding: 0;

    .reviews_title {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

@media screen and (max-width: 361px) {
  .materials_container {
    .materials_photos {
      img[src="images/group_48095417.png"] {
        width: 150px;
        height: 175px;
      }

      img[src="images/group_48095419.png"] {
        width: 150px;
        height: 230px;
      }
    }
  }
}

@media screen and (max-width: 321px) {
  .materials_container {
    .materials_photos {
      img[src="images/group_48095417.png"] {
        width: 135px;
        height: 158px;
      }

      img[src="images/group_48095419.png"] {
        width: 135px;
        height: 207px;
      }

      img[src="images/group_48095439.png"] {
        width: 185px;
        height: 293px;
      }
    }
  }
  .footer_info_part {
    justify-content: space-around;
  }
}





