@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: "gilroysemibold";
  src: url("../fonts/gilroy-semibold-webfont.eot");
  src: url("../fonts/gilroy-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-semibold-webfont.woff2") format("woff2"), url("../fonts/gilroy-semibold-webfont.woff") format("woff"), url("../fonts/gilroy-semibold-webfont.ttf") format("truetype"), url("../fonts/gilroy-semibold-webfont.svg#gilroysemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroythin";
  src: url("../fonts/gilroy-thin-webfont.eot");
  src: url("../fonts/gilroy-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-thin-webfont.woff2") format("woff2"), url("../fonts/gilroy-thin-webfont.woff") format("woff"), url("../fonts/gilroy-thin-webfont.ttf") format("truetype"), url("../fonts/gilroy-thin-webfont.svg#gilroythin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroyultralight";
  src: url("../fonts/gilroy-ultralight-webfont.eot");
  src: url("../fonts/gilroy-ultralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-ultralight-webfont.woff2") format("woff2"), url("../fonts/gilroy-ultralight-webfont.woff") format("woff"), url("../fonts/gilroy-ultralight-webfont.ttf") format("truetype"), url("../fonts/gilroy-ultralight-webfont.svg#gilroyultralight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroyregular";
  src: url("../fonts/gilroy-regular-webfont.eot");
  src: url("../fonts/gilroy-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-regular-webfont.woff2") format("woff2"), url("../fonts/gilroy-regular-webfont.woff") format("woff"), url("../fonts/gilroy-regular-webfont.ttf") format("truetype"), url("../fonts/gilroy-regular-webfont.svg#gilroyregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroymedium";
  src: url("../fonts/gilroy-medium-webfont.eot");
  src: url("../fonts/gilroy-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-medium-webfont.woff2") format("woff2"), url("../fonts/gilroy-medium-webfont.woff") format("woff"), url("../fonts/gilroy-medium-webfont.ttf") format("truetype"), url("../fonts/gilroy-medium-webfont.svg#gilroymedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroyheavy";
  src: url("../fonts/gilroy-heavy-webfont.eot");
  src: url("../fonts/gilroy-heavy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-heavy-webfont.woff2") format("woff2"), url("../fonts/gilroy-heavy-webfont.woff") format("woff"), url("../fonts/gilroy-heavy-webfont.ttf") format("truetype"), url("../fonts/gilroy-heavy-webfont.svg#gilroyheavy") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroyblack";
  src: url("../fonts/gilroy-black-webfont.eot");
  src: url("../fonts/gilroy-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-black-webfont.woff2") format("woff2"), url("../fonts/gilroy-black-webfont.woff") format("woff"), url("../fonts/gilroy-black-webfont.ttf") format("truetype"), url("../fonts/gilroy-black-webfont.svg#gilroyblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroybold";
  src: url("../fonts/gilroy-bold-webfont.eot");
  src: url("../fonts/gilroy-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-bold-webfont.woff2") format("woff2"), url("../fonts/gilroy-bold-webfont.woff") format("woff"), url("../fonts/gilroy-bold-webfont.ttf") format("truetype"), url("../fonts/gilroy-bold-webfont.svg#gilroybold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@keyframes arrow_move {
  0% {
    margin-left: 3px;
  }
  25% {
    margin-left: 6px;
  }
  50% {
    margin-left: 9px;
  }
  75% {
    margin-left: 11px;
  }
  100% {
    margin-left: 13px;
  }
}
@media screen and (min-width: 1440px) {
  .hidden-text {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1s ease-out, opacity 1s ease-out;
  }
  .visible-text {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (max-width: 1025px) {
  header {
    height: 1000px;
  }
  .header_container,
  .welcome_section_container,
  .why_choose_us_container,
  .best_sell_prod_container,
  .reviews_container,
  .footer_container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .best_sell_prod_articles article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .reviews_articles .owl-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .materials_container {
    padding-left: 40px;
  }
  .experiences_container {
    gap: 70px;
    padding-right: 40px;
  }
  .footer_info_part div:first-of-type {
    width: 400px;
  }
}
@media screen and (max-width: 835px) {
  header {
    height: 800px;
  }
  h1 {
    font-size: 60px;
  }
  h3 {
    font-size: 24px;
  }
  .materials_container {
    gap: 20px;
  }
  img[src="images/experiences_main_photo.png"] {
    width: 497px;
    height: 443px;
  }
  img[src="images/group_48095439.png"] {
    width: 278px;
    height: 380px;
  }
  img[src="images/group_48095417.png"] {
    width: 167px;
    height: 188px;
  }
  img[src="images/group_48095419.png"] {
    width: 167px;
    height: 236px;
  }
}
@media screen and (max-width: 769px) {
  header {
    height: 800px;
  }
  .why_choose_us_container {
    gap: 90px;
  }
  .experiences_container {
    gap: 10px;
  }
  .header_container ul {
    gap: 55px;
  }
}
@media screen and (max-width: 431px) {
  header {
    height: 500px;
  }
  .header_container {
    display: flex;
    justify-content: space-between;
  }
  .nav-but-wrap {
    padding-left: 0;
    padding-top: 19px;
  }
  .header_brand_name {
    display: none;
  }
  h1 {
    font-size: 30px;
  }
  .welcome_section h3 {
    font-size: 16px;
  }
  .welcome_search_form {
    width: 240px;
    height: 40px;
  }
  .welcome_search_form input {
    width: 160px;
  }
  .welcome_search_form input::placeholder {
    font-size: 15px;
  }
  .welcome_search_form button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .why_choose_us_container {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
  .why_choose_us_container h2 {
    font-size: 25px;
  }
  .why_choose_us_container_articles {
    flex-direction: column;
  }
  .why_choose_us_container_articles article h3 {
    font-size: 20px;
  }
  .why_choose_us_container_articles article a {
    display: inline-flex;
  }
  .best_sell_prod_container h2 {
    font-size: 25px;
  }
  .product_selector {
    width: 300px;
  }
  .experiences_container {
    padding: 120px 0;
    flex-direction: column;
  }
  .experiences_container h2 {
    font-size: 25px;
  }
  .experiences_container p:first-of-type {
    font-size: 16px;
  }
  .experiences_container p:nth-of-type(2) {
    font-size: 16px;
  }
  .experiences_container .experiences_main_photo {
    order: 2;
    padding-right: 40px;
  }
  .experiences_container .experiences_main_photo img[src="images/experiences_main_photo.png"] {
    width: 100%;
    height: auto;
  }
  .experiences_container .experiences_text {
    order: 1;
    text-align: center;
    padding: 0 16px;
  }
  .experiences_container .experiences_text a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .materials_container {
    flex-direction: column;
    padding: 0 16px;
  }
  .materials_container h2 {
    font-size: 25px;
  }
  .materials_container .materials_info_part {
    text-align: center;
  }
  .materials_container .materials_info_part p:first-of-type {
    font-size: 16px;
  }
  .materials_container .materials_info_part p:first-of-type:last-of-type {
    font-size: 16px;
  }
  .materials_container .materials_info_part a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .materials_container .materials_photos img[src="images/group_48095439.png"] {
    width: 260px;
    height: 374px;
  }
  .footer_info_part {
    text-align: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  .footer_info_part h3 {
    font-size: 20px;
  }
  .footer_copyright p {
    align-self: center;
  }
  .nav__list {
    flex-direction: column;
  }
  .header_drop_down:after {
    display: none;
  }
  .nav__list-item a {
    font-family: gilroybold;
    font-weight: 400;
    font-size: 24px;
    color: #1e1e1e;
  }
  .nav:after {
    background: #fff;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  body.nav-active .menu-icon__line {
    background-color: #1e1e1e;
  }
  .nav__list-item a:hover {
    color: #7a7a7a;
  }
  .menu-icon__line {
    background-color: #fff;
  }
  .menu-icon--active {
    position: fixed;
  }
}
@media screen and (max-width: 415px) {
  .materials_container .materials_photos img[src="images/group_48095439.png"] {
    width: 247px;
    height: 355px;
  }
}
@media screen and (max-width: 413px) {
  .materials_container .materials_photos img[src="images/group_48095439.png"] {
    width: 245px;
    height: 355px;
  }
}
@media screen and (max-width: 394px) {
  .materials_container .materials_photos img[src="images/group_48095439.png"] {
    width: 226px;
    height: 348px;
  }
}
@media screen and (max-width: 391px) {
  .materials_container .materials_photos img[src="images/group_48095439.png"] {
    width: 223px;
    height: 348px;
  }
}
@media screen and (max-width: 376px) {
  .materials_container .materials_photos img[src="images/group_48095439.png"] {
    width: 205px;
    height: 325px;
  }
  .reviews_container {
    padding: 0;
  }
  .reviews_container .reviews_title {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (max-width: 361px) {
  .materials_container .materials_photos img[src="images/group_48095417.png"] {
    width: 150px;
    height: 175px;
  }
  .materials_container .materials_photos img[src="images/group_48095419.png"] {
    width: 150px;
    height: 230px;
  }
}
@media screen and (max-width: 321px) {
  .materials_container .materials_photos img[src="images/group_48095417.png"] {
    width: 135px;
    height: 158px;
  }
  .materials_container .materials_photos img[src="images/group_48095419.png"] {
    width: 135px;
    height: 207px;
  }
  .materials_container .materials_photos img[src="images/group_48095439.png"] {
    width: 185px;
    height: 293px;
  }
  .footer_info_part {
    justify-content: space-around;
  }
}

/*# sourceMappingURL=media.css.map */
